#loading-bar.bloom
{
    animation: 2s bloomingAnimation infinite;
}

@keyframes bloomingAnimation
{
    0% { box-shadow: 0 0 10px; opacity: 0.4 }
    50% { box-shadow: 0 0 10px; opacity: 1 }
    100% { box-shadow: 0 0 10px; opacity: 0.4 }
}